__pycache__
.pytest_cache
.vscode
*.egg-info
.env
*.pdf
*.log
*.tsbuildinfo
*.json
NOTES.md
prompt*.md
TODO.md
!README.md

artifacts
notes
auth-user
mongodb_jwt_routes.py
postgres_jwt_routes.py
.coverage
alembic
alembic.ini
!models_erd.md
prompts
frontend-react/coverage
bmo-2
!demo-mcp-realm.json
!prefect-openapi*.json
!tsconfig.json
!tsconfig.node.json
!package.json
!package-lock.json
